.profile_container{
    padding: 15px 5% 90px 5%;
}
.profile_info_and_content{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.profile_info{
    width: 20%;
    border: 1px solid #74CCD8;
    border-radius: 15px;
    text-align: center;
    height: fit-content;
}
.profile_info .change_img{
    font-size: 12px;
    line-height: 139.02%;
    color: #686877;
    display: inline-flex;
    align-items: center;
    margin: 10px 0px 20px 0px;
    justify-content: center;
    cursor: pointer;
}
.profile_info > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}
.profile_tabs{
    margin-top: 25px;
}
.profile_tab{
    display: flex;
    align-items: center;
    padding: 13px 23px;
    cursor: pointer;
    border-bottom: 1px solid #74CCD8;
    
}
.profile_tab:hover, .profile_tab_clicked{
    background: #74CCD8;
    color: white;
}
.profile_tab:first-child{
    border-top: 1px solid #74CCD8;
}
.profile_tab:last-child{
    border:none;
    border-radius: 0px 0px 15px 15px;
}
.profile_content_orders,
.profile_empty,
.profile_content_liked,
.profile_content_sales,
.profile_info_and_content .register_form{
    width: 77.5%;
    
}


/* CARD ORDERS */
.profile_content_orders h2{
    margin-bottom: 12px;
}
.card_product_explain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    line-height: 155.02%;
    color: #686877;
}
.card_product_explain > img{
    opacity: 0;
}
.cart_order_select{
    border: 1px solid #B7B8C5;
    border-radius: 22px;
    margin-top: 15px;
}
.row_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
    cursor: pointer;
}
.bbordered{
    border-bottom: 1px solid #E4E7EE;
}
.order_statuspayed{
    color: #69CB87;
}
.order_statuswait{
    color: #FFC186;
}
.order_statusclosed{
    color: #FF5341;
}
.cart_order_select > .cart_product{
    border-bottom: 1px solid #E4E7EE;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.cart_order_select > .cart_product:last-child{
    border-bottom:none
}
.cart_order_select > .cart_product > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.product_name_and_price{
    width: calc(100% - 120px);
    display: flex;
    justify-content: space-between;

}
.product_info h3{
    margin-bottom: 15px;
}
.product_info p{
    display: inline;
    font-size: 15px;
}
.product_info p span{
    font-size: 14px;
    color: #686877;
}

/* LIKED PORODUCTS */
.swiper-slide {
    background: white;
    padding: 15px 15px 20px 15px;
    border: 1px solid #E4E7EE;
    border-radius: 15px;
    min-height: 400px;
    max-height: 550px;
    position: relative;
    transition: .5s;
    cursor: pointer;
}
.swiper-slide:hover {
  background: rgba(126, 126, 126, 0.2);
}
.swiper-slide > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 20px;
}
.swiper-slide .slide_desc {
  text-align: left;
}
.swiper-slide .slide_desc > h3 {
  display: inline;
}
.swiper-slide .slide_desc > span {
  text-decoration: line-through;
  color: #B7B8C5;
}
.swiper-slide .slide_desc > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}
.sales_slides_box {
  background: #F4F5F9;
}
.sales_slides_box > .slider_component .swiper-slide .slide_desc .delivery_box > img {
  margin-right: 10px;
}
.sales_slides_box > .slider_component .swiper-slide .slide_desc .delivery_box > small {
  color: #686877;
}
.sale_hit_new_box50{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD882;
    border-radius: 50px;
    top: 15px;left: 15px;
    border: 1.5px dashed white;
    width: 55px;
    height: 55px;
    font-size: 14px;
    animation: scaled_sale 1s infinite;
}
.sale_hit_new_boxhit{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ED9BC1 0%, #ED9BB9 100%);
    color: white;
    border-radius: 50px;
    top: 15px;left: 15px;
    width: 55px;
    height: 55px;
    font-size: 14px;
}
.sale_hit_new_boxnew{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFC186;
    color: white;
    border-radius: 8px;
    top: 15px;left: 15px;
    padding: 8px 10px;
    font-weight: 600;
    line-height: 139%;
    font-size: 14px;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.liked_products{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
}


.profile_content_sales .select{
    margin: 25px 0px;
    width: 20%;
}


.profile_info_and_content .register_form{
    position: relative;
}
.del_acc{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}